@import './styles/tokens.css';
@import './styles/base.css';
@import './styles/utilities.css';
@import './styles/reader.css';

:root {
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
